<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TallyZoo</title>
<link href="css/tallyZoo.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="css/ie_hacks.css" />
<![endif]-->
<link href="css/dropdown.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!-- Header Starts -->
	<div id="header">
    	<div id="header_in">
            <div class="logo"><img src="images/logo.gif" width="248" height="62" alt="TallyZoo" /></div>

        	<div class="top_links">
            	<div class="top_links_in">Welcome Ari <a href="#">Profile</a> <a href="#">Invite</a> <a href="#">Logout</a> <a href="#" class="search">Search</a></div>
        	</div>
            
            <div id="topMenu">
            <!-- Main Menu bar #1 -->
                <div id="mnuBar">
                    <a href="dashboard.html" id="current"><span>Dashboard</span></a>
                    <a href="about-us.html" ><span>My Activities</span></a>
                    <a href="membership-info.html"><span>Community</span></a>
                </div>
            </div>

        </div>
	</div>
	<!-- Header Ends -->
	
    <div id="sub_menu_out">
    	<div id="sub_menu"><a href="#" id="subActive"><span class="ln_lft">&nbsp;</span>Health<span class="ln_rgt">&nbsp;</span></a> <a href="#"><span class="ln_lft">&nbsp;</span>Food &amp; Cold Drinks<span class="ln_rgt">&nbsp;</span></a> <a href="#"><span class="ln_lft">&nbsp;</span>Exercise<span class="ln_rgt">&nbsp;</span></a> <a href="#"><span class="ln_lft">&nbsp;</span>Travel<span class="ln_rgt">&nbsp;</span></a></div>
    </div>
    
	<!-- Container Starts -->
	<div id="container">
    
    	<div class="blue_block">
        	<div class="blue_block_in">
        	  
        	  <table border="0" cellspacing="0" cellpadding="0">
        	    <tr>
        	      <td><input name="textfield" type="text" id="textfield" value="Activity: Amount" class="fld_txt wd_250" /></td>
        	      <td><a href="#"><img src="images/icons/cal.gif" width="16" height="20" alt="Calendar" /></a></td>
        	      <td><a href="#"><img src="images/btn_quick_add.gif" width="90" height="23" alt="Quick Add" /></a></td>
      	      </tr>
      	    </table>
       	  </div>
       </div>
		

		<!-- Mid Column Starts -->
		<div id="mid_col">
        
        	<div class="gray_block fl_lft wd_365">
            	<div class="bl_top"><img src="images/blocks/gray_top_lft.gif" width="9" height="6" alt="" /></div>
            	<div class="bl_mid">
                	<div class="bl_mid_in">
                   	  <div class="bl_main">
                   	    <h2>
                   	      <span class="icons"><a href="#"><img src="images/icons/collapse.gif" width="14" height="14" alt="" /></a> <a href="#"><img src="images/icons/close.gif" width="14" height="14" alt="" /></a></span>
                        	<a href="#">Cigarettes</a></h2>
                            <div class="graph"><img src="images/graph/graph1.gif" width="217" height="225" alt="" /></div>
                        <p class="share_btn"><a href="#"><img src="images/btn_share.gif" width="56" height="15" alt="Share" /></a></p>
                            
                      </div>
                    </div>
                </div>
            	<div class="bl_bot"><img src="images/blocks/gray_bot_lft.gif" width="16" height="10" alt="" /></div>
            </div>
            
            
            <div class="gray_block fl_rgt wd_365">
            	<div class="bl_top"><img src="images/blocks/gray_top_lft.gif" width="9" height="6" alt="" /></div>
            	<div class="bl_mid">
                	<div class="bl_mid_in">
                   	  <div class="bl_main">
                   	    <h2>
                        <span class="icons"><a href="#"><img src="images/icons/collapse.gif" width="14" height="14" alt="" /></a> <a href="#"><img src="images/icons/close.gif" width="14" height="14" alt="" /></a></span>
                        	<a href="#">Travel</a></h2>
                            <div class="graph"><img src="images/graph/graph2.gif" width="332" height="225" alt="" /></div>
                        <p class="share_btn"><a href="#"><img src="images/btn_share.gif" width="56" height="15" alt="Share" /></a></p>
                            
                      </div>
                    </div>
                </div>
            	<div class="bl_bot"><img src="images/blocks/gray_bot_lft.gif" width="16" height="10" alt="" /></div>
            </div>
            
            
            <div class="gray_block fl_lft wd_365">
            	<div class="bl_top"><img src="images/blocks/gray_top_lft.gif" width="9" height="6" alt="" /></div>
            	<div class="bl_mid">
                	<div class="bl_mid_in">
                   	  <div class="bl_main">
                   	    <h2>
                        	<span class="icons"><a href="#"><img src="images/icons/collapse.gif" width="14" height="14" alt="" /></a> <a href="#"><img src="images/icons/close.gif" width="14" height="14" alt="" /></a></span>
                       	<a href="#">Exercise</a></h2>
                            <div class="graph"><img src="images/graph/graph3.gif" width="332" height="225" alt="" /></div>
                        <p class="share_btn"><a href="#"><img src="images/btn_share.gif" width="56" height="15" alt="Share" /></a></p>
                            
                      </div>
                    </div>
                </div>
            	<div class="bl_bot"><img src="images/blocks/gray_bot_lft.gif" width="16" height="10" alt="" /></div>
            </div>
            
            
            <div class="gray_block fl_rgt wd_365">
            	<div class="bl_top"><img src="images/blocks/gray_top_lft.gif" width="9" height="6" alt="" /></div>
            	<div class="bl_mid">
                	<div class="bl_mid_in">
                   	  <div class="bl_main">
                   	    <h2>
                        	<span class="icons"><a href="#"><img src="images/icons/collapse.gif" width="14" height="14" alt="" /></a> <a href="#"><img src="images/icons/close.gif" width="14" height="14" alt="" /></a></span>
                       	<a href="#">FOOD</a></h2>
                            <div class="graph"><img src="images/graph/graph4.gif" width="332" height="225" alt="" /></div>
                        <p class="share_btn"><a href="#"><img src="images/btn_share.gif" width="56" height="15" alt="Share" /></a></p>
                            
                      </div>
                    </div>
                </div>
            	<div class="bl_bot"><img src="images/blocks/gray_bot_lft.gif" width="16" height="10" alt="" /></div>
            </div>
            
            <div class="cl_both"><img src="images/blank.gif" width="1" height="1" alt="" /></div>
            
            <p><a href="#"><img src="images/btn_add_graph.gif" width="120" height="38" alt="Add a Graph" /></a></p>
            
	  </div>
		<!-- Mid Column Ends -->
		
		<!-- Right Column Starts -->
		<div id="right_col">
    <img src="images/google_adds.gif" width="160" height="649" alt="Ads by Google" /></div>
		<!-- Right Column Ends -->
		
		<div class="cl_both"></div>
	</div>
    
    <div id="container_bot">&nbsp;</div>
	<!-- Container Ends -->
	
	<!-- Footer Starts -->
	<div id="footer">
   	  <div class="copyright">&copy; 2009 Tally Zoo. All rights reserved.</div>
      <div class="fot_links"><a href="#">FAQ</a> <a href="#">About Us</a> <a href="#">Terms &amp; Condition</a> <a href="#">Privacy Policy</a></div>
      <div class="designedBy">Designed &amp; Developed by <span class="txt_red">Eco</span><span class="txt_blue">tech</span></div>
   </div>	
    	
	<!-- Footer Ends -->
</body>
</html>
